$mainColor: rgb(187, 252, 168);
$width: 60%;

body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: $mainColor;
  padding: 25px 0;
}

header .brand{
  width: $width;
  margin: 32px auto;
  padding: 16px;
  font-weight: bolder;
  font-size: 22px;
  font-style: oblique;
}
.main {
  width: $width;
  margin: 32px auto;
  padding: 16px;
  border: solid 2px rgb(0, 107, 24);
  background-color: rgb(37, 224, 39);
}

.input{
  margin-bottom: 8px;
  display: inline-block;
}

.input input,
.input label{
  font-size: inherit;
  display: block;
}

button{
  font-size: inherit;
  background-color: rgb(1, 186, 255);
  border: 1px solid rgb(0, 4, 88);
  border-radius: 4px;
}

button:hover{
  background-color: rgb(71, 86, 131);
}
button .danger{
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

button .danger:hover{
  background-color: rgb(125, 0, 67);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
}

section {
  margin-bottom: 16px;
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(0, 8, 75);
}
section:last-of-type{
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#item-amt{
  width: 60%;
  text-align: center;
  color:rgb(38, 31, 52);
}

ul{
  margin: 0;
}
ul li{
  cursor: pointer;
}

ul li:hover{
  color: rgb(47, 106, 0);
  font-weight: bolder;
}
